body {
    font-family: 'Roboto' , sans-serif;
    color: white;
}

.between {
    color: black;
}
.hero ,.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo img {
    width: 100px;
    height: auto;
}

.small {
    width: 400px;
    height: auto;
}

.smaller {
    width: 250px;
    height: 250px;
}

ul {
    list-style: none;
    display: flex;
    gap: 13px;
}

a {
    color: gret;
}